<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Java_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>samrat.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookLIstServelt</display-name>
    <servlet-name>BookLIstServelt</servlet-name>
    <servlet-class>samrat.BookLIstServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookLIstServelt</servlet-name>
    <url-pattern>/BookLIstServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditScreenServlet</display-name>
    <servlet-name>EditScreenServlet</servlet-name>
    <servlet-class>samrat.EditScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScreenServlet</servlet-name>
    <url-pattern>/EditScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>samrat.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecord</display-name>
    <servlet-name>DeleteRecord</servlet-name>
    <servlet-class>samrat.DeleteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecord</servlet-name>
    <url-pattern>/DeleteRecord</url-pattern>
  </servlet-mapping>
</web-app>